-e git+git://github.com/openstack/python-glanceclient.git#egg=python-glanceclient
-e git+git://github.com/openstack/python-keystoneclient.git#egg=python-keystoneclient
-e git+git://github.com/openstack/python-novaclient.git#egg=python-novaclient
-e git+git://github.com/iPlantCollaborativeOpenSource/euca2ools.git#egg=euca2ools-1.3.3
--allow-external -e git+git://github.com/iPlantCollaborativeOpenSource/rtwo.git#egg=rtwo-0.1.8
-e git+git://github.com/jmatt/threepio.git#egg=threepio-0.1
