###############
#   SECRETS   #
###############

# CLEAR ALL VALUES BELOW THIS LINE BEFORE PUSHING TO DIST

#Django-Celery secrets
BROKER_URL = ""
BROKER_BACKEND = "redis"
REDIS_PORT = 6379
REDIS_HOST = ""
BROKER_USER = ""
BROKER_PASSWORD = ""
REDIS_DB = 0
REDIS_CONNECT_RETRY = True
CELERY_SEND_EVENTS = True
CELERY_RESULT_BACKEND = "redis"
CELERY_TASK_RESULT_EXPIRES = 10
CELERYBEAT_SCHEDULER = "djcelery.schedulers.DatabaseScheduler"
#Django-Celery Development settings
#CELERY_ALWAYS_EAGER = True

import djcelery
djcelery.setup_loader()

# Local Storage:
# Local storage is necessary for imaging Eucalyptus
# There should be a minimum of 10GB of space remaining
# before attempting imaging.
# Ideally, this location should point to a storage volume
LOCAL_STORAGE = ""

#Eucalyptus Imaging secrets
EUCA_PRIVATE_KEY = ""
EC2_CERT_PATH = ""
EUCALYPTUS_CERT_PATH = ""

EUCA_ADMIN_KEY = ""
EUCA_ADMIN_SECRET = ""
EUCA_S3_URL = ""
EUCA_EC2_URL = ""
#Eucalyptus Dicts
EUCA_IMAGING_ARGS = {
    "key": EUCA_ADMIN_KEY,
    "secret": EUCA_ADMIN_SECRET,
    "ec2_url": EUCA_EC2_URL,
    "s3_url": EUCA_S3_URL,
    "ec2_cert_path": EC2_CERT_PATH,
    "pk_path": EUCA_PRIVATE_KEY,
    "euca_cert_path": EUCALYPTUS_CERT_PATH,
    "config_path": "/services/Configuration",
    "extras_root": PROJECT_ROOT
}
# Openstack Imaging secrets
OPENSTACK_ADMIN_KEY = ""
OPENSTACK_ADMIN_SECRET = ""
OPENSTACK_AUTH_URL = ""
OPENSTACK_ADMIN_URL = OPENSTACK_AUTH_URL.replace("5000", "35357")
OPENSTACK_ADMIN_TENANT = ""
OPENSTACK_DEFAULT_REGION = ""
OPENSTACK_DEFAULT_ROUTER = ""
OPENSTACK_ARGS = {
    "username": OPENSTACK_ADMIN_KEY,
    "password": OPENSTACK_ADMIN_SECRET,
    "tenant_name": OPENSTACK_ADMIN_TENANT,
    "auth_url": OPENSTACK_ADMIN_URL,
    "region_name": OPENSTACK_DEFAULT_REGION
}
OPENSTACK_NETWORK_ARGS = {
    "auth_url": OPENSTACK_ADMIN_URL,
    "region_name": OPENSTACK_DEFAULT_REGION,
    "router_name": OPENSTACK_DEFAULT_ROUTER
}
